$color_navy: #0b2e59;
$color_teal: #74c1c1;
$color_light_green: #c8f27a;
// $color_purple: #8f3fb3;
$color_magenta: #ff2fb3;

$color_white: #ffffff;
// $color_black: #000000;

$color_gray_950: #111111;
// //$color_gray_900: #1a1a1a;
// $color_gray_800: #2a2a2a;
$color_gray_700: #444444;
$color_gray_600: #555555;
// $color_gray_500: #666666;
// $color_gray_400: #777777;
$color_gray_300: #dddddd;
$color_gray_200: #eeeeee;
$color_gray_150: #e6e6e6;
$color_gray_100: #f6f6f6;
$color_gray_050: #fafafa;

$color_red_900: #7a0b0b;
$color_red_700: #b00020;
$color_red_200: #f0c2c2;
$color_red_050: #fff5f5;
